.keyboard {
    width: 100%;
    max-width: 900px;
    margin: 20px auto 0;
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .button-row {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-wrap: nowrap;

        &.secondary-row {
            gap: 12px;
        }

        &.primary-row {
            padding: 0 10%;
            justify-content: space-between;

            .keyboard-dpad {
                display: flex;
                flex-direction: column;
                align-items: center;

                .dpad-top {
                    display: flex;
                    gap: 40px;
                }

                .dpad-down {
                    margin-top: 10px;
                }
            }

            .keyboard-action {
                display: flex;
                gap: 15px;
                padding-top: 10px;
            }
        }
    }
}